.container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;

}
.row {
    display: flex;
}

.square {
    border: solid black 1px;
    height: 50px;
    width: 50px;
}